header{
    border-bottom: thin solid #000000;
    height: 7vh;
    nav{
        display: flex;
        a{
            text-decoration: none;
            img{
                width: 40px;
                height: 40px;
            }
            b{
                font-size: 40px;
                margin-left: 1000px;
                
            }
        }
       
    }
}
section{
    display: flex;
    #mm {
        width: 50vh;
        height: 80vh;
        background-color: rgb(77, 74, 74);
        text-align: center;
        padding-top: 40px;
        font-size: x-large;
        box-shadow: 1px 1px 10px #000000;
        color: white;
        #m{
            text-align: left;
            margin: 10px 10px;
            padding: 10px 10px;
            a{
                color: white;
            }
            a :hover{
                color: red;
            }
        }
    }
    #mm1{
        display: flex;
        flex-direction: column;
        // border:  thick solid red;
        background-color: aliceblue;
        width: 150vh;
        height: 82vh;
        // margin-left: 10px;
        padding: 10px 10px;
        #mm2{
            width: 130vh;
            height: 25vh;
            margin: 10px auto;
            box-shadow: 0px 0px 4px #000000;
            background-color: #c9c6c6;
            padding: 10px 10px;
        }
    }
    a{
        text-decoration: none;
    }
    .mg{
        width: 200px;
        height: 200px;
        border-radius: 40% 0%;
    }
    button{
        width: 120px;
        height: 50px;
        border-radius: 10%;
        background-color: rgb(233, 210, 10);
    }
    .pic{
        width: 200px;
        height: 200px;
        border-radius: 40% 40%;
    }
    #man{
        margin: 50px auto;
        text-align: center;
    }
    b{
        font-size: x-large;
        
    }
}
