#g1{
    height: 20vh;
    background-color: #00bfa5;
    color: #ffffff;
    font-size: xx-large;
    padding: 60px 160px ;
    margin: -10px -8px;
}
#g2{
    border: thick solid #ffffff;
    height: 108vh;
    width: 120vh;
    margin: -120px auto;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px #000000;
    #g3{
        height: 50vh;
        width: 100vh;
        margin: 50px auto;
        display: flex;
        background-color: #ffffff;
        #g4{
            height: 45vh;
            width: 55vh;
            margin: 15px 5px;
            background-color: #ffffff; 
        }
        #g5{
            height: 45vh;
            width: 40vh;
            margin: 15px 5px;
            text-align: center;
            background-color: #ffffff;
            a{
                text-decoration: none;
                color: #000000;
            }
        }
    }
    #g6{
        height: 60vh;
        width: 82vh;
        margin: -40px auto; 
    }
}
#sidebar1{
    border: thin solid #ffffff;
    height: 98vh; 
    display: flex;
    #chatlistbar{
        border: thin solid #ffffff;
        width: 60vh;
        height: 98vh; 
        background-color: #f6f6f6;
        #na{
            border: thin solid #ffffff;
            width: 60vh;
            height: 10vh;
            background-color: #ededed;
            #img1{
                // border: thin solid #ff0000;
                width: 50px;
                height: 50px;
                background-size: cover;
                background-repeat: no-repeat;
                margin: 10px 10px;
                border-radius: 50%;
            } 
        }
        #Searchbox{
            // border: thin solid #ff0000;
            width: 58vh;
            height: 5vh;
            margin: 6px 0px;
            margin-left: 5px;
            border-radius: 30px;
            background-color: #ffffff;
            #Search{
                width: 50vh;
                height: 4vh;
                margin: 2px 0px 0px 15px;
                border-radius: 40px;
                background-color: #ffffff;
                border: 1px solid transparent;
                outline: none !important;
            }
        }
        #chatlist{
            // border: thin solid #ff0000;
            width: 60vh;
            height: 81vh;
            overflow-x: hidden;
            overflow-y: scroll;
            background-color: #ffffff;
           a{
               text-decoration: none;
               #profile{
                    // border: thin solid #ff0000;
                    width: 60vh;
                    height: 7vh;
                    display: flex;
                    // box-shadow: #b8b8b8 0px 0.5px 0.5px ;
                    // a :hover{ 
                    //     color: red;
                    //     background-color: red;        
                    // }
                    #img1{
                        // border: thin solid #ff0000;
                        width: 50px;
                        height: 50px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        margin: 2px 10px;
                        border-radius: 50%;
                    } 
                    #name{
                        // border: thin solid #ff0000;
                        width: 35vh;
                        height: 7vh;
                        margin: 3px 10px;
                        background-color: #ffffff;
                        color: #000000;
                        #chatText{
                               font-size: 13px;
                               color: #000000;
                        }
                    }
                    #chatTime{
                        // border: thin solid #ff0000;
                        width: 50px;
                        height:7vh;
                        font-size: 13px;
                        margin: 3px 10px;
                        text-align: center;
                        #chatnum{
                            width: 20px;
                            height: 20px;
                            background-color: green;
                            border-radius: 50%;
                            color: #ffffff; 
                            font-size: 13px;
                            text-align: center;
                            margin: 3px 10px;
                        }
                    }    
                }
            }
           
        }
    }
    #side2{
        // border: thin solid #0000ff;
        width: 145vh;
        height: 99vh;
        overflow: hidden;

        .chatp{
            border: thin solid #c7c6c6;
            width: 145vh;
            height: 99vh; 
            background-color: #f8f9fa;
            overflow: hidden;
        }
        #na2{
            border: thin solid #ffffff;
            // width: 60vh;
            height: 8vh;
            background-color: #ededed;
            #img1{
                // border: thin solid #ff0000;
                width: 50px;
                height: 50px;
                background-size: cover;
                background-repeat: no-repeat;
                margin: 1px 10px;
                border-radius: 50%;
            } 
        }
        #cp{
            height: 83vh;
            width: 125vh ; 
        }
        #ch{
            border: thin solid #ffffff;
            width: 122vh;
            height: 8vh;
            background-color: #c4bdbd;
            border-radius: 30px;
            border: 1px solid transparent;
            outline: none !important;
        }  
    }
}
::-webkit-scrollbar{
    width: 10px;
    color: #c4bdbd;
    background-color: #c7c6c6;
    border-radius: 30px;
}

